#kolheader {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bede {
    display: flex;
    width: 100%;
    height: 38px;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
    gap: 200px;

}
.nade {
    display: none;
}
.neshp {
    display: flex;
    width: 55%;
    height: 100%;

    align-items: start;
    justify-content: end;
}
.neshp-p {

    width: fit-content;
    height: fit-content;
    color: white;
}
.btnzarb {
    background-color: rgba(255, 99, 71, 0);
    border: none;
    cursor: pointer;
}
#header-2 {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.li-a {
    text-decoration: none;
    color: black;
}
#header-2-items {
    width: 86%;
    height: 100%;
    border-bottom: solid 2px #F2F0F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-2-items-d1 {
    width: 13%;
    height: fit-content;
}
#header-2-items-d2 {
    display: flex;
    justify-content: space-between;
    width: 26%;
    height: 80%;

    height: fit-content;
}
#header-2-items-d2-select {
    width: 16.5%;
    height: 19px;
    border: none transparent;
    outline: none;
}
#header-2-items-d2-ul {
    display: flex;
    width: 80%;
    height: fit-content;
    justify-content: space-around;
    list-style-type: none;
}
#header-2-items-d3 {
    width: 45%;
    height: 55%;
    display: flex;
    align-items: center;
}
#header-2-items-d3-inp {
    width: 93%;
    height: 90%;
    background-color: #F0F0F0;
    border: none transparent;
    outline: none;
    border-bottom-right-radius: 62px;
    border-top-right-radius: 62px;
}
.sadsad {
    transition: transform 0.2s ease;
}

.sadsad:hover {
    transform: scale(1.05);
}
.btnsearch {
    width: 8%;
    height: 90%;
    border-bottom-left-radius: 62px;
    border-top-left-radius: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

#header-2-items-d4 {

    width: 5%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
#header-3 {
    width: 100%;

    display: flex;
    align-items: center;
    height: 790px;
    background: url("../../../public/assets/image/Rectangle\ 2.png") no-repeat right top / cover;
}
.header-3-items-1 {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-3-items-1-center {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header-3-items-1-h1 {
    font-size: 70px;
    height: 60%;
}
.header-3-items-1-p1 {
    color: #00000099;
    height: 25%;
    font-size: 16.3px;
}
.header-3-items-1-btn {
    background-color: #000000;
    color: white;
    border: none;
    width: 250px;
    height: 15%;
    border-radius: 35px;
    cursor: pointer;
}
.header-3-items-1-status {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.header-3-items-1-status-center {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.divvasat {
    width: 70%;
    height: 100%;
}

.sadsad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    margin-left: 5px;
}


.header-3-items-1-status-s {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: start;
    width: 32%;
    margin-left: 5px;
}
.header-3-items-1-status-s-bord {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36%;
    border-left: solid 0.5px#dbd2d2;
    border-right: solid 0.5px #dbd2d2;
}

.header-3-items-1-status-s-de {
    color: #00000099;
    width: max-content;
}

.header-3-items-1-status-s-v {
    width: max-content;
}

.btn-a {
    text-decoration: none;
    color: white;
}

.header-3-items-2-L {
    position: relative;
    top: 0px;
    right: 26px;
}
.header-3-items-2-R {

    position: relative;
    left: 520px;
    bottom: 190px;
}
.header4 {
    background-color: #000000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}