.sliderkol {
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;

}


.sliderkol-slid-center {
  height: 100%;
  width: 80%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.sliderkol-ul {
  width: 100%;
  height: 15%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.strogessss {
  font-size: 40px;
  font-weight: bold;
}


.liasdsafhbasihfb {
  height: 100%;
  width: 6%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.slider {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  transition: all 0.5s ease;
  width: 100%;
  padding-right: calc((800px - (3% * 3 + 16px * 2)) / 2);
}


.card {
  height: 180px;
  min-width: 250px;
  max-width: 250px;
  flex-shrink: 0;
  padding: 25px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #0000001A;
  transition: transform 0.3s;
  overflow: hidden;
  cursor: pointer;

}


.side-card {
  opacity: 0.5;
}

.slider-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.slider-btn:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: scale(1.05);
}

.sadsadfasdasdas {
  display: flex;
  width: 50%;
}

.positionssss {
  position: relative;
  left: 4px;
}